/* CSS by tc012.gtk.cl, created at 9pm and 3am */ 
/* Note: held with tape */ 

.nav {
    background-color: #2a2c31;
    border-color: #303236;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    max-width: 40rem;
    margin: 10px;
    padding-bottom: 10px;
    align-items: center;
}



.ptitle {
    margin:15px;
    font-style: italic;

}
.content {
    background-color: #2a2c31;
    border-color: #303236;
    border-style: solid;
    border-width: 2px;
    width: 100rem;
    max-width: 40rem;
    margin: 10px;
    padding-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 40%;
}

body {
    color: white;
    font-family: 'MS PGothic', 'sans-serif';
    font-size: 12pt;
    background-color: #1a191f;
}

a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: dotted;
    color: white;
}

a:hover {
    text-decoration: underline;
}
