.nav {
    background-color: #20201f;
    border-color: #484444;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    max-width: 40rem;
    margin: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.ptitle, {
    margin:15px;
}
.content {
    background-color: #20201f;
    border-color: #484444;
    border-style: solid;
    border-width: 2px;
    width: 100rem;
    max-width: 40rem;
    margin: 10px;
    padding-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 40%;
}

body {
    color: white;
    font-family: 'DMSans';
    font-size: 12pt;
    background-color: #232121;
}

a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: dotted;
    color: white;
}

a:hover {
    text-decoration: underline;
}
