a {
  color: rgb(0, 0, 0);
}

body {
font-family: w95fa;
background-image: url("assets/21.gif");
background-size: cover;
color: #000000;
}

p {
padding-left: 5px;
padding-right: 5px;
}

h1 {
padding-left: 5px;
padding-right: 5px;
}

.title {
display: flex;
justify-content: center;
height: 1.60cm;
}
 

.footer { 
    position: fixed;     
    text-align: center;    
    bottom: 4px; 
    width: 100%;
    color:white;

   }  

button {
    border: .125rem outset white;
    padding: .125rem .1875rem .125rem .1875rem;
	  margin: .25rem .25rem .25rem .5rem;
    border-radius: .0625rem;
    font-family: w95fa;
    font-size: 16px
}

.buttonpressedin {
	border: .0625rem solid black;
}

.links {
    text-align: center; 
    padding-top: .944rem;
    padding-bottom: .944rem;
}

.alert {
  color: #595151;
  font-size: 16px;
  margin-bottom: 18px;
}

.content {
 flex-wrap: wrap;
 flex-direction: column;
 width: 90rem;
 max-width: 40.1rem;
 margin: 10px;
 padding: 2px;
 background-color: #dddfe7;
 border-style: solid;
 border-width: 0.1cm;
 border-color: #c0c2ca;
}


.audio-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

button:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
.content {
 flex-wrap: wrap;
 flex-direction: column;
 width: 90rem;
 max-width: 40.1rem;
 margin: 10px;
 padding: 2px;
 background-color: #3e3c3c;
 border-style: solid;
 border-width: 0.1cm;
 border-color: #3a3838;
 border-radius: 2;
}


body {
font-family: w95fa;
background-image: url("assets/21.gif");
background-size: cover;
color: #ffffff;
}



