@font-face {
    font-family: 'w95fa';
    font-style: normal;
    font-weight: normal;
    src: url('w95fa.woff') format('woff');
}

@font-face {
    font-family: 'w95fa bold';
    font-style: normal;
    font-weight: normal;
    src: url('ari-w9500-bold.otf.woff2') format('woff2');
}