body {
font-family: 'Segoe UI';
}

button {
border-radius: 4px;
padding: 10px;
margin-left: 5px;
margin-right: 5px;
border: none;
}

button:hover {
color: blue;
}

.title {
    color:rgba(0, 0, 0, 0.63)
}

footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 10px;

.window-bar {
    padd
    background-color: blue;
}