/* CSS made by tc012 (andrew) on a school chromebook :sob: */
.link { 
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 4px;
    max-width: 54rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 9px;
    background-color: #353533;
    border-color: rgba(90, 85, 85, 0.6);
    border-style: solid;
    transition: transform .2s; 
}

.link:hover {
    transform: scale(0.9);
}

